@{
    Layout = "";
}

<!doctype html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Graduate&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CONFİDO</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <link rel="stylesheet" href="~/Confido.Webui.styles.css" asp-append-version="true">
    <link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">
    <link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#7952b3">

</head>
<style>
    body {
        padding-top: 0;
    }

    /* Navbar stilleri */
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        padding: 10px 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        font-family: Georgia, serif;
    }

    /* Logo stilleri */
    .logo {
        max-width: 100px;
    }

    /* Navbar menü stilleri */
    .navbar-menu {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

        .navbar-menu li {
            margin-right: 300px;
        }

            .navbar-menu li:last-child {
                margin-right: 20px;
            }

            .navbar-menu li a {
                text-decoration: none;
                color: #000;
                font-weight: bold;
            }

    body {
        padding-top: 0;
        padding-bottom: 3rem;
        color: #5a5a5a;
    }

    .carousel {
        margin-bottom: 4rem;
    }

    .carousel-caption {
        bottom: 3rem;
        z-index: 10;
    }

    .carousel-item {
        height: 32rem;
    }

        .carousel-item > img {
            position: absolute;
            top: 0;
            left: 0;
            min-width: 100%;
            height: 32rem;
        }

    .bottom {
        display: flex;
    }

    .rightone {
        flex-direction: column;
        width: 35%;
        border
    }

    .png {
        width: 50%;
        padding-left: 150px;
        border: 2px;
    }

    /* media (min-width: 40em) {
        .carousel-caption p {
            margin-bottom: 1.25rem;
            font-size: 1.25rem;
            line-height: 1.4;
        }
    } */

    .bottom-text {
        background-color: #d9d9d9;
        font-family: 'Graduate', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 40px;
        border-radius: 5px;
        color: black;
        padding: 10px;
        text-align: center;
        border-radius: 75px;
        margin-top: 30px;
    }

    .graduate-regular {
        font-family: "Graduate", serif;
        font-weight: 400;
        font-style: normal;
    }

</style>
<body>

    @* navbar *@
    <div class="navbar">
        <div class="navbar-menu">
            <li><a href="#">About</a></li>
            <li><a href="#">For Donors</a></li>
        </div>
        <div class="navbar-logo">
            <img src="/images/logo.png" alt="Logo" height="100px" width="150px">
        </div>
        <div class="navbar-menu">
            <li><a href="#">For Partners</a></li>
            <li><a href="#">Resources</a></li>
        </div>
    </div>
    @* slider *@
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item">
                <img src="/images/aa.png" class="d-block w-100" alt="...">
                <div class="container">
                    <div class="carousel-caption">
                        <h1 style="font-family:Georgia">SAFE DONATION.</h1>
                        <p>Ensuring Your Generosity Reaches Those in Need</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item active">
                <img src="/images/bc.jpg" class="d-block w-100" alt="...">
                <div class="container">
                    <div class="carousel-caption">
                        <h1 style="font-family:Georgia">Safe Donation</h1>
                        <p>Ensuring Your Generosity Reaches Those in Need</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                    </div>
                </div>
            </div>
           
            <div class="carousel-item">
                <img src="/images/araba.webp" class="d-block w-100" alt="...">
                <div class="container">
                    <div class="carousel-caption">
                        <h1 style ="font-family:Georgia">SAFE DONATION.</h1>
                        <p>Ensuring Your Generosity Reaches Those in Need</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    @* content *@


    <div class="bottom">
        <div class="png">
            <img src="images/images.png" />
        </div>
        <div class="rightone">
            <button style="width:550px; height:70px; background-color:#41b260;" type="button" class="btn btn-success btn-lg btn-block graduate-regular">DONATE CRYPTO</button>

            <p class="graduate-regular bottom-text">
                &nbsp;IT IS POSSIBLE TO<br />
                &nbsp;&nbsp;&nbsp;DONATE WITH<br />
                &nbsp;&nbsp;&nbsp;DIFFRENT<br />
                CRYPTOCURRENCIES<br />
            </p>
        </div>
    </div>

    @* extra *@

    <div class="container marketing" style="padding-top:50px;">

        <!-- Three columns of text below the carousel -->
        @* <div class="row">
        <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2>Heading</h2>
        <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
        <p><a class="btn btn-secondary" href="#">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2>Heading</h2>
        <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
        <p><a class="btn btn-secondary" href="#">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2>Heading</h2>
        <p>And lastly this, the third column of representative placeholder content.</p>
        <p><a class="btn btn-secondary" href="#">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        </div><!-- /.row --> *@
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Strong Blockchain Infrastructure. <span class="text-muted">Powered By Solana</span></h2>
                <p class="lead">"CryptoSafe App utilizes Solana blockchain infrastructure for enhanced security and efficiency in its operations. Solana's high-speed, low-cost transactions ensure seamless user experience and robust protection of user data.</p>
            </div>
            <div class="col-md-5">
                <img src="/images//solana.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="Placeholder: 500x500">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">
                    Many cryptocurrencies <span class="text-muted">
                        Explore.</span>
                </h2>
                <p class="lead"> Accepts payments in various cryptocurrencies, offering users flexibility and convenience in their transactions. From Bitcoin to Ethereum, and beyond, we support a wide range of digital currencies to cater to diverse user preferences.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="/images/cry.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="Placeholder: 500x500">


            </div>
        </div>

        <hr class="featurette-divider">

      

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div>



</body>

</html>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>